/*
 * Copyright (C) 2019 Variscite Ltd. - https://www.variscite.com
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/ {
	chosen {
		stdout-path = &uart1;
	};
	
	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_status_led>;
		
		gpled1 {
			label = "cpuled";
			gpios = <&gpio5 9 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
	};

	/* PPS-GEN */
	pps-gen {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_pps>;
		compatible = "pps-gen-gpio";
		pps-gen-gpio = <&gpio1 27 GPIO_ACTIVE_HIGH>;
		
		/*assert-falling-edge;*/
	};	
	
	watchdog: watchdog {
		compatible = "linux,wdt-gpio";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_wdt>;	
		gpios = <&gpio1 25 GPIO_ACTIVE_HIGH>;
		hw_algo = "toggle";
		hw_margin_ms = <1500>;
		always-running;
		status = "okay";
	};	
		
};

&i2c1 {
	clock_frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c1>;
	status = "okay";
};

&i2c3 {
	clock_frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c3>;
	status = "okay";

	/* RTC module */
	rtc@32 {
		compatible = "epson,rx8111";
		reg = <0x32>;
	};

	pca9536@41 {
        	compatible = "nxp,pca9536";
	        reg = <0x41>;
		gpio-controller;
		#gpio-cells = <2>;
		gpio-line-names = "SEL-X-FLASH", "RES-XNX", "NC", "XNX-DONE";
	};

};

&iomuxc_snvs {
	pinctrl_gpio_status_led: gpio_status_ledgrp {
		fsl,pins = <
			MX6ULL_PAD_SNVS_TAMPER9__GPIO5_IO09 0x000150A0
			/* MX6ULL_PAD_SNVS_TAMPER9__GPIO5_IO09 0x1b0b0 */
		>;
	};	
	
};

&iomuxc {
	pinctrl_gpio_wdt: gpio_wdtgrp {
		fsl,pins = <
			MX6UL_PAD_UART3_RX_DATA__GPIO1_IO25	0x1b0b0	 /* GPLED2 */
		>;
	};

	pinctrl_i2c1: i2c1grp {
		fsl,pins = <
			MX6UL_PAD_CSI_PIXCLK__I2C1_SCL		0x4001b8b0
			MX6UL_PAD_CSI_MCLK__I2C1_SDA		0x4001b8b0
		>;
	};

	pinctrl_i2c3: i2c3grp {
		fsl,pins = <
			MX6UL_PAD_ENET2_RX_DATA0__I2C3_SCL		0x4001b8b0
			MX6UL_PAD_ENET2_RX_DATA1__I2C3_SDA		0x4001b8b0
		>;
	};

	pinctrl_uart1: uart1grp {
		fsl,pins = <
			MX6UL_PAD_UART1_TX_DATA__UART1_DCE_TX	0x1b0b1
			MX6UL_PAD_UART1_RX_DATA__UART1_DCE_RX	0x1b0b1
		>;
	};
	
	pinctrl_ecspi2_1: ecspi2grp {
		fsl,pins = <
			MX6UL_PAD_UART5_RX_DATA__ECSPI2_MISO	0x100b1
			MX6UL_PAD_UART5_TX_DATA__ECSPI2_MOSI	0x100b1
			MX6UL_PAD_UART4_TX_DATA__ECSPI2_SCLK	0x100b1
			MX6UL_PAD_UART4_RX_DATA__GPIO1_IO29	0x100b1
		>;
	};
	
	pinctrl_ecspi1_1: ecspi1grp {
		fsl,pins = <
			MX6UL_PAD_CSI_DATA07__ECSPI1_MISO	0x100b1
			MX6UL_PAD_CSI_DATA06__ECSPI1_MOSI	0x100b1
			MX6UL_PAD_CSI_DATA04__ECSPI1_SCLK	0x100b1
			MX6UL_PAD_CSI_DATA05__GPIO4_IO26		0x100b1
		>;
	};
	
	pinctrl_pps: gpio_ppsgrp {
		fsl,pins = <
			MX6UL_PAD_UART3_RTS_B__GPIO1_IO27	0x1b0b1
		>;
	};

	pinctrl_uart2: uart2grp {
		fsl,pins = <
			MX6UL_PAD_UART2_RX_DATA__UART2_DCE_RX	0x1b0b1
			MX6UL_PAD_UART2_TX_DATA__UART2_DCE_TX	0x1b0b1		
		>;
	};

};

&lcdif {
	status = "disabled";
};

&snvs_pwrkey {
	status = "disabled";
};

&tsc {
	status = "disabled";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	status = "okay";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	status = "okay";
};

&ecspi2 {
	fsl,spi-num-chipselects = <1>;
	cs-gpios = <&gpio1 29 0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi2_1>;
	status = "okay";

	spidev@0 {
		compatible = "spidev";
		spi-max-frequency = <12000000>;
		reg = <0>;
	};
};

&ecspi1 {
	fsl,spi-num-chipselects = <1>;
	cs-gpios = <&gpio4 26 0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi1_1>;
	status = "okay";

	spidev@0 {
		compatible = "spidev";
		spi-max-frequency = <12000000>;
		reg = <0>;
	};
};


